@import "./node_modules/bootstrap/scss/bootstrap.scss";

*{
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #05040c;
}
.custom-input::placeholder {
  color: #e8e6f5;
  opacity: 0.5;
}